html {
  box-sizing: border-box;
}


*, 
*::before,
*::after {
  box-sizing: inherit;
}


:root {
  font-size: 62.5%;
}

body {
  font-family: 'Avenir','Open Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  font-size: 1.8rem;
  background: url('./images/background.jpg') #424243;
  background-size: cover;
  text-align: center;
}


#main-nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

#main-nav > a {
  margin: 20px;
  text-decoration: none !important;
  padding: 6px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  font-size: 2rem;
}

#main-nav > a:hover {
  color: rgb(220, 215, 215);
}

h1 {
  margin: 1% 0;
  color: #fff;
}

.index-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

}

.post {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  border: solid 1px darkgray;
  border-radius: 10px;
  background: rgba(84, 80, 80, 0.742);
  max-width: 40%;
  justify-content: center;
}

#post-img {
  margin: 1% auto;
  max-width: 20%;
}

.post-body {
  margin: 1% auto;
  padding-bottom: 1rem;
}

.post-body h1{
  color: #fff;
  padding-bottom: 1%;
  text-shadow: 1px 1px 1px black;
}

.post-body p, .page-text{
  color: #fff;
  padding-bottom: 2%;
  text-shadow: 1px 1px 1px black;
}

.post-body p a{
  color: #fff;
}

.btn-prim {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 0.8rem 1.2rem;
  border-radius: 50px;
  color: white;
  font-size: 1.5rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all .2s ease-in;
  text-decoration: none;
  margin-bottom: 2%;
}

.btn-prim:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
  color: white;
}

.login-form {
  background: rgba(84, 80, 80, 0.742);
  color: #fff;
  text-shadow: 1px 1px 1px black;
  font-size: 2rem;
  max-width: 30%;
  border: solid 1px darkgray;
  border-radius: 10px;
  padding: 3rem 0 2rem;
  margin: 10% auto 0;
}

.login-form .btn-prim {
  margin: 2% auto 4%;
  padding: 1rem 1.8rem;
}

.field {
  border: solid 1px rgb(24, 24, 24);
  max-width: 70%;
}