html {
  box-sizing: border-box;
}


*, 
*::before,
*::after {
  box-sizing: inherit;
}


:root {
  font-size: 62.5%;
}

body {
  font-family: 'Avenir','Open Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  font-size: 1.8rem;
  background: url('./images/background.jpg') #424243;
  background-size: cover;
  text-align: center;
}


#main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

#main-nav > a {
  margin: 20px;
  text-decoration: none !important;
  padding: 6px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  font-size: 2rem;
}

#main-nav > a:hover {
  color: rgb(220, 215, 215);
}

h1 {
  margin: 1% 0;
  color: #fff;
  font-size: 2.8rem;
}

h2 {
  font-size: 2.1rem;
}

.index-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

}

.post {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  border: solid 1px darkgray;
  border-radius: 10px;
  background: rgba(84, 80, 80, 0.742);
  max-width: 40%;
  justify-content: center;
}

#post-img {
  margin: 1% auto;
  max-width: 20%;
}

.post-body {
  margin: 1% auto;
  padding-bottom: 1rem;
}

.post-body h1{
  color: #fff;
  padding-bottom: 1%;
  text-shadow: 1px 1px 1px black;
}

.post-body p, .page-text{
  font-size: 1.6rem;
  color: #fff;
  padding-bottom: 2%;
  text-shadow: 1px 1px 1px black;
}

.post-body p a{
  color: #fff;
}

.post-body h2{
  color: #fff;
  text-shadow: 1px 1px 1px black;
  padding: 6% 0;
}

.btn-prim {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 0.8rem 1.2rem;
  border-radius: 50px;
  color: white;
  font-size: 1.5rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all .2s ease-in;
  text-decoration: none;
  margin-bottom: 2%;
}

.btn-prim:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
  color: white;
}

.btn-delete {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ab2020, #8e090c);
  padding: 0.8rem 1.4rem;
  border-radius: 50px;
  color: white;
  font-size: 1.5rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all .2s ease-in;
  text-decoration: none;
  margin-bottom: 1%;
}

.btn-delete:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
  color: white;
}

.btn-update {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #2f4db0, #1542a4);
  padding: 0.8rem 1.4rem;
  border-radius: 50px;
  color: white;
  font-size: 1.5rem;
  box-shadow: 1px 10px 2rem rgba(73, 86, 225, 0.5);
  transition: all .2s ease-in;
  text-decoration: none;
  margin-bottom: 1%;
}

.btn-update:hover {
  box-shadow: 0px 5px 1rem rgba(67, 81, 230, 0.5);
  color: white;
}

.login-form {
  background: rgba(84, 80, 80, 0.742);
  color: #fff;
  text-shadow: 1px 1px 1px black;
  font-size: 2rem;
  max-width: 30%;
  border: solid 1px darkgray;
  border-radius: 10px;
  padding: 3rem 0 2rem;
  margin: 10% auto 0;
}

.login-form .btn-prim {
  margin: 2% auto 4%;
  padding: 1rem 1.8rem;
}

.field {
  border: solid 1px rgb(24, 24, 24);
  max-width: 70%;
}

.post-main {
  background: rgba(84, 80, 80, 0.742);
  max-width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 1px darkgray;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

#post-container {
  margin-top: 1%;
  border-bottom: solid 1px darkgray;
}

#post-container h2 {
  margin-top: 2%;
}

.description-container {
  margin: 0 auto;
  max-width: 80%;
  word-wrap:break-word;
}

.votes {
  font-size: 1.6rem;
  margin-top: 3%;
}

.hidden {
  display: none;
}

.comment-form {
  margin: 0 auto;
  max-width: 70%;
  padding-bottom: 1rem;
}

#text {
  width: 40vw;
  height: 8vh;
  margin: 1% auto 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.btn-container .btn-update {
  margin-right: 8px;
}

.btn-container .btn-delete, .btn-container .btn-update {
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
}

.card {
  background: rgba(84, 80, 80, 0.776);
  margin: 0 auto;
  max-width: 60%;
  border: solid 1px darkgray;
}

.card p{
  font-size: 1.4rem;
}

.create-container {
  background: rgba(84, 80, 80, 0.742);
  max-width: 60%;
  margin: 5% auto;
  border-radius: 10px;
  border: solid 1px darkgray;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

.create-form {
  margin: 0 auto;
  padding-top: 3rem;
  max-width: 80%;
  padding-bottom: 1rem;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  font-size: 2.2rem;
}

.text-in-form {
  font-size: 1.8rem;
}

#account-container {
  margin: 3% auto;
  max-width: 40%;
}

#account {
  max-width: 50%;
}

#info {
  margin: 7% auto 0;
  padding: 1rem 1rem 2rem;
}
#info h2{
  font-size: 2.2rem;
}

#account-btn {
  margin: 0 auto;
  padding: 1rem 1.8rem;
  font-size: 1.8rem;
}

