{% extends "base.html" %}
{% block content %}

<h1>Hey, {{current_user.username}}!</h1>
<div class="jumbotron">
    <div align="center">
    </div>
</div>

<div id="account-container" class="create-container">
    <form id="account" class="create-form" method="POST" action="" enctype="multipart/form-data">
       
            {{form.hidden_tag()}}
        
            {{form.username.label(class='form-group')}} 
            {{form.username(class='form-control text-in-form')}}
            <br>
            {{form.email.label(class='form-group')}} 
            {{form.email(class='form-control text-in-form')}}
            <br>
            {{form.submit(class='btn-update')}}
    
    </form>
</div>
<a id="account-btn" class="btn-prim" href="{{url_for('users.user_posts', username=current_user.username)}}">My Posts</a>

{% endblock %}