{% extends "base.html" %}
{% block content %}
    <div class="create-container">
      <form class="create-form" method="POST">
          {{form.hidden_tag()}}
              {{form.title.label(class="form-control-label")}}
              {{form.title(class="form-control form-control-lg text-in-form", placeholder="Enter your question here...")}}
            <br>
            {{form.description.label(class="form-control-label")}}
            {{form.description(class="form-control form-control-lg text-in-form", placeholder="Describe your situation...")}}
            <br>
            {{form.submit(class="btn-prim")}}
        
      </form>
    </div>
{% endblock %}