{% extends "base.html" %}
{% block content %}
<h1>All Posts</h1>
<main class="index-main">
    {% for each_post in posts.items %}
        <div class="post">
            <img id="post-img" src="/static/styles/images/decision2.png" alt="post-img">
            <div class="post-body">
                <h1>
                    "Should I {{each_post.title}}?"
                </h1>
                <p>Posted by <a href="{{url_for('users.user_posts', username=each_post.author.username)}}">{{each_post.author.username}}</a> on {{each_post.date.strftime('%B %d, %Y')}}</p>
                <a class="btn-prim" href="{{url_for('posts.post', post_id=each_post.id)}}">Read Post</a>
            </div>
        </div>
    {% endfor %}
    
    </main>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    
{% endblock %}