{% extends "base.html" %}
{% block content %}
    <h1>{{user.username}}'s posts</h1>
    <main class="index-main">
        {% for each_post in posts.items %}
            <div class="post">
                <img id="post-img" src="/static/styles/images/decision2.png" alt="post-img">
                <div class="post-body">
                    <div class="description-container">
                    <h1>
                        "Should I {{each_post.title}}?"
                    </h1>
                    <h2>{{each_post.description}}</h2>
                    </div>
                    <p>Posted on {{each_post.date.strftime('%B %d, %Y')}}</p>
                    <a class="btn-prim" href="{{url_for('posts.post', post_id=each_post.id)}}">Post Details</a>
                </div>
            </div>
        {% endfor %}
        
    </main>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">

            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('users.user_posts', username=user.username, page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('users.user_posts', username=user.username, page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>


{% endblock %}